body{
	background-color: #FFCF7D;
	#  ; EDD080
}

.seiten-headline h2{
	margin-bottom: 20px;
	color: #2c3e50;
}

.seiten-text p{
	font-size: 120%;
}

.impressum-text p{
	font-size: 120%;
	text-align: center;
	font-weight: bold;
}

.impressum-text h3{
	text-align: center;
	font-size: 180%;
	font-weight: bold;
}

.text-geseier p{
	font-size: 110%;
	font-style: italic;
}

.text-geseier blockquote{
	border: 0px;
	float: right;
	font-size: 100%;
	font-style: italic;
}

.text-geseier blockquote:before{
	content: '---  '
}

.offseted-form{
	margin-top: 50px;
}