body{
	background-color: #FFCF7D;
	#  ; EDD080
}

.seiten-headline h2{
	margin-bottom: 20px;
	color: #8B96A3;
}

.seiten-text p{
	font-size: 120%;
}

.text-geseier p{
	font-size: 110%;
	font-style: italic;
}

.text-geseier blockquote{
	border: 0px;
	float: right;
	font-size: 100%;
	font-style: italic;
}

.text-geseier blockquote:before{
	content: '---  '
}